.issue-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 7px;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
	width: 100%;
	overflow: hidden;
	text-wrap: pretty;
}

/* This directly modifies obsidians css which youre not supposed to do */
.cm-preview-code-block:hover {
	box-shadow: none !important;
	border: none !important;
}

.cm-preview-code-block {
	box-shadow: none !important;
	border: none !important;
}

.compact {
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.1em;
}

.issues-searchfield {
	background-color: inherit;
	width: 80%;
	margin-top: 10px;
	height: 30px;
	box-shadow: none;
	padding: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* Issue Details Modal Stuff */
.issues-author {
	margin: 5px 0 0;
	padding: 0;
	opacity: 0.7;
}

.issue-link {
	font-size: 0.8em;
	opacity: 0.7;
}

.issues-state-and-label-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	padding-top: 10px;
	color: white;
}


.label-container {
	display: flex;
	flex-direction: row;
}

.issues-state-pill {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	border-radius: 10px;
	margin-right: 5px;
	padding: 5px;
}

.issues-state {
	margin: 0;
	padding: 0;
}

.issues-labels {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	gap: 5px;
	padding: 0;
	opacity: 0.7;
}

.issues-label-pill {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 10px;
	margin: 0;
}

.issues-label-name {
	margin: 0;
}

.issues-asignee-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	padding-top: 20px;
}

.issues-assignee-icon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 5px 0 0;
	margin-inline-end: 5px;
	padding: 0;
}

.issues-assignee {
	margin: 5px 0 0;
}

.issues-body-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
	padding: 10px;
}

.issues-container-title {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

.issues-body {
	margin: 5px 0 0;
	padding: 0;
	white-space: pre-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-break: normal;
	width: 100%;
}

.issues-body img {
	max-width: 100%;
}

.issues-comment-body img {
	max-width: 100%;
}

.issues-comments-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	box-shadow: var(--embed-block-shadow-hover);
	border-radius: var(--radius-s);
}

.issues-author-container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	padding-top: 5px;
	padding-left: 5px;
}

.issues-author-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border-radius: 50%;
}

.issues-author-name {
	margin: 0;
}

.issues-comment-body {
	padding: 0;
	margin: 5px 0 5px 10px;
}

.issues-comment-text {
	margin: 0;
	padding: 0;
	font-size: 1.05em;
	white-space: pre-wrap;
}

.issues-comments-input {
	margin-top: 30px;
	width: 100%;
	height: 100px;
	max-width: 100%;
	min-width: 100%;
	max-height: 200px;
	min-height: 50px;
	border-radius: var(--radius-s);
}

.issues-comments-input-label {
	margin: 0;
}

.issues-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.issues-comment-button {
	margin-top: 0;
	margin-right: 10px;
	padding: 5px;
	border-radius: var(--radius-s);
}

.issues-close-button {
	margin: 0;
	padding: 5px;
	border-radius: var(--radius-s);
}

/* Issues Modal */

.issues-url-input {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.issues-url-button {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.issues-search-input {
	width: 100%;
}

.nav-list {
	list-style: none;
	padding: 0;
	overflow: auto;
	height: 300px;
}

.nav-item {
	padding-top: 15px;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.issues-modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #838284;
	padding: 5px;
}

.issues-modal-item-title {
	font-size: 1.1em;
}

.issues-item-subtitle {
	font-size: 0.8em;
	padding-top: 2px;
}

.loading-spinner {
	border: 4px solid var(--background-secondary);
	border-top: 3px solid var(--interactive-accent);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	margin: auto;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.issue-title {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 7px;
	margin-top: 7px;
	padding: 0;
	overflow: clip;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
}

.issue-details {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: top;
}

.issue-details-text {
	font-size: 14px;
	margin-left: 7px;
	margin-bottom: 7px;
	opacity: 0.7;
}

.labelEl {
	padding: 2px;
	margin: 2px;
	border-radius: var(--radius-s);
	font-size: 10px;
	opacity: 0.8;
}

.new-issues-modal-titleInput {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.new-issues-modal-descriptionInput {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	height: 100px;
	max-height: 500px;
	font-family: "monospace";
	font-size: 12px;
}

.new-issues-modal-selectedLabels {
	display: flex;
	flex-wrap: wrap;
}

.new-issues-modal-labelDropdown {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	height: 30px;
	max-height: 30px;
	max-width: 100%;
	font-size: 12px;
	border-radius: 5px;
}

.new-issues-modal-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	background: var(--background-modifier-form-field);
}

.new-issues-modal-removeButton {
	background: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	margin-left: 5px;
}
