#refreshbutton {
	background-color: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 10px;
	display: none;
	align-items: center;
	justify-content: center;
	margin: 0;
	cursor: pointer;
	position: absolute;
	left: 3px;
	top: 3px;
}
